{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "semi": false,
  "useTabs": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
